<div class="container">
	<div class="row dashboard">
		<div class="col-md-3">
			<div class="dashboard-modules">
					<a class="module-title" (click)="terminalmanagement()">TMS</a>
			</div>
    </div>
    <div class="col-md-3">
			<div class="dashboard-modules">
					<a class="module-title" routerLink="">EPG</a>
			</div>
    </div>
    <div class="col-md-3">
			<div class="dashboard-modules">
          <a class="module-title" routerLink="">ADS</a>
			</div>
    </div>
    <div class="col-md-3">
			<div class="dashboard-modules">
          <a class="module-title" routerLink="">ADD BOOK</a>
				</div>
		</div>
	</div>
</div>