.linkicon {
  padding-right:4px
}

.navbar-nav > li > .navbarlink{
  border-right: 1px solid #fff;
  line-height: 47px;
}

#custom-bootstrap-menu.navbar-default .navbar-header {
  color:#fff;
}

#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(248, 248, 248, 1);
  border-bottom-width: 1px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  /*color: rgba(51, 51, 51, 1);
  background-color: rgba(248, 248, 248, 0);*/
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: red;
  /* background-color: rgba(231, 231, 231, 1);*/
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #888;
}

.navbar-default {
  box-shadow:none !important;
  border-color: #000;
}
#custom-bootstrap-menu.navbar-default {
  /* background-color: #ffffff !important; */
  /* IE10+ */ 
background-image: -ms-linear-gradient(top, #000 0%, #000 90%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #000 0%, #000 90%);

/* Opera */ 
background-image: -o-linear-gradient(top, #000 0%, #000 90%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(90, #000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #000 0%, #000 90%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #000 0%, #000 90%);
}

.navbar-default {
  /* background-color: pink !important; */
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a  {
  color: #ffffff ;
  font-family: robotom !important;
  font-size: 14px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: transparent !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a {
  background-image: none !important;
}

.navbar {
  min-height: 60px !important;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 85px !important;
}
@media (min-width: 768px) {
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 65px !important;
  }
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: #fff !important;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999 !important;
}
@media (max-width:767px) {
  .f-left {
    float: left !important
  }
}






