.sidebar ul li.active123{
    /* background:#ea9215; */
    background:#ffffff;
    border-bottom:3px solid #ea9215 !important;
    color: #ea9215 !important; 
}
/* .sidebar ul li.active{
    background:#ea9215;
    color: #ffffff !important; 
} */

.sidebar ul li a.active{
    color: #ea9215 !important; 
    background:#ffffff;
    border-bottom:3px solid #ea9215 !important;
}
.sidebar_css{
    max-width: 115px;
    word-wrap: break-word;
}

.sidebar_scroll_css{
    overflow-y: scroll;
    height: 550px;
    width: 114px;
}
