<div class="row font_robotoregular sidebarmenu flexcroll sidebar_scroll_css sidebar sidebar-nav-fixed affix">
  <ul class="nav padding0 text-center " style="list-style: none;">
    <li class=" padding-15 sidebar_css"
    *ngFor="let list of sideValues;let i = index"
    id="{{list.urlLink}}"
     (click)="sideMenuActiveFun(list.urlLink,list,i)"
     [ngClass]="{'active123': selectedMenuActive==list.urlLink}">
      <a   class="textdecoration-none active-#ffffff"  routerLink={{list.urlLink}}   >
              <img class="oneEnabled center-block" style="width:40px;margin-bottom:5px" src="{{list.img_icon}}">{{list.urlName}}
      </a>
    </li>
  </ul>
  </div>
  